.counter {
  text-align: center;
}

.count {
  margin: 50px 0 20px;
  font-size: 30px;
}

button {
  padding: 5px;
  margin: 10px 5px;
  background-color: transparent;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  cursor: pointer;
}

.btn-reset {
  display: block;
  width: 160px;
  margin: 0 auto;
}
